<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.blakegarner.wd</string>
    <key>ProgramArguments</key>
    <array>
    <string>/Users/blake/code/weatherdesktop/wd</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/blake/code/weatherdesktop</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/local/libexec/gnubin:/opt/local/bin:/opt/local/sbin:/usr/local/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>StartInterval</key>
    <integer>900</integer>
    <key>StandardOutPath</key>
    <string>/Users/blake/Library/Logs/com.blakegarner.wd.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/blake/Library/Logs/com.blakegarner.wd.log</string>
    <key>UserName</key>
    <string>blake</string>
    <key>GroupName</key>
    <string>staff</string>
</dict>
</plist>
