<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.blakegarner.wd</string>
    <key>ProgramArguments</key>
    <array>
    <string>/Users/blake/code/weatherdesktop/wd</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/blake/code/weatherdesktop</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/local/bin:/usr/local/bin:/usr/bin:/bin:/opt/local/sbin:/usr/local/sbin:/usr/sbin:/sbin:/Users/blake/Library/Python/3.12/bin</string>
    </dict>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>5</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>10</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>15</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>20</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>25</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>30</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>35</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>40</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>45</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>50</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>55</integer>
        </dict>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/blake/Library/Logs/com.blakegarner.wd.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/blake/Library/Logs/com.blakegarner.wd.log</string>
    <key>UserName</key>
    <string>blake</string>
    <key>GroupName</key>
    <string>staff</string>
</dict>
</plist>
<!-- 
launchctl bootstrap gui/$UID ~/Library/LaunchAgents/com.blakegarner.wd.plist
launchctl bootout gui/$UID ~/Library/LaunchAgents/com.blakegarner.wd.plist
launchctl print gui/$UID/com.blakegarner.wd
 -->
